# Ignore object files, libs and executable files
*.o
*.dll
*.so
*.exe
*.sh
*.pyc

# Ignore bin, build and 3rdparty directories
bin/
build/

# Ignore configured conan and CMake presets
conan/
CMakePresets.json
CMakeUserPresets.json
.gcst/.default
.gcst/.temp

# Ignore my own .md
*.md
!docs/*.md
!*README.md

# Don't ignore build-scripts
!build.sh
!.github/workflows/scripts/**